*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
nav{
  background:rgb(250, 250, 252);
  height: 80px;
  width: 100%;
  border-bottom: 1px solid gray;
 
}
label.logo{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  float: left;
}
nav ul{
  float: left;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: rgb(145, 138, 138);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
.checkbtn{
  font-size: 30px;
  color:black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.logo1{
  float: right;
  padding: 5px;
}
.logo1 img{
  width: 50px;
}
.row{
  width: 80%;
  margin-top: 5%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px 30px;
  margin-left: auto;
  margin-right: auto;
}
.row .left{
  overflow: hidden;
}
.row .left img{
  /* width: 100%; */
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
}
.row .left .images2  img{
  padding: 5px;
  width: 110px;
  height: 120px;
  display: inline;
}
.images2 img.prod1{
  opacity: 0.5;
}
.images2 img.prod2{
  z-index: 3px;
  opacity: 0.5;
}
.row .right{
  display: flex;
  align-items: center;
 position: relative;
 top: -110px;
}
.row .right .content{
  padding-left: 20px;
  line-height: 40px;
}
.row .right .content ul li{
  list-style-type: square;
  font-size: 22px;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 26px;
  padding-bottom: 15px;
}
.row .right .content span{
    color: #ed7658;
    font-size: 18px;
    font-family:  Arial;
    line-height: 40px;
    
}
.right .content .amt strong{
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.right .content .amt span b{
background-color: #f4c8be;
font-size: 20px;
color: rgb(228, 155, 45);
border-radius: 5px;
}
.right .content .amt1{
  text-decoration: line-through;
}
.row .right .content p{
  font-size: 18px;
  color: gray;
  margin-top: 20px;
  font-family: sans-serif;
  line-height: 25px;
  padding-bottom: 15px;
}
.btn{
  font-size: 40px;
  width: 200px;
  height:50px;
  background-color:rgb(219, 219, 243);
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}
.btn span{
  color: orange;
  font-size: 40px;
  text-align: center;
}
span.btn1{
  float: right;
}
.cartbtn{
  margin-left: 20px;
  height: 50px;
  width: 200px;
  font-size: 30px;
  background-color: rgb(220, 131, 80);
  border: none;
  color: white;
  border-radius: 8px;
}
.container {
  position: relative;
  width: 50%;
}
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container img {
 width:30px;
  height: auto;
  background-image: url(Img/shopping-cart.svg);
  color: black;
}
.buttn{
  padding: 10px 20px;
  width: 250px;
  background-color: #f4efef;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.btnn{
  float: right;
  position: absolute;
  left: 300px;
  width: 250px;
  height: 60px;
  border: none;
  background-image: url(Img/shopping-cart.svg);
  background-repeat: no-repeat;
  background-color: orange;
  background-size: 30px;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid;
}
.plusbtn {
  border: none; 
  font-size: 40px;
  color: orange;
  font-weight: bold;
  float: left;
}
.minusbtn {
  border: none; 
  color: orange;
  font-size: 40px;
  font-weight: bold;
  float: right;
}
.images2{
  height: 500px;
  padding-left: auto;
  padding-right: auto;
 } 
 
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 20px; 
  }
  nav ul li a {
    font-size: 16px;
    padding: 7px 10px; 
    color: black;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    margin-right: 20px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%; 
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0; 
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0; 
  }
}

@media (max-width: 991px) {
  .row .right .content {
    padding-left: 20px; 
  }
 
}

@media (max-width: 768px) {
  .row {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .button {
    padding: 10px 20px;
    font-size: 20px;
  }
  .btnn{
    display: block;
    margin-top: 30px;
    margin-left: -280px;
  }
  .row .right {
    top: 0; 
  }
}
